

 * {
        margin: 0;
        padding: 0;
      }

      .custom-filters{
    display: flex;flex-direction: column; justify-content: center;padding:30px 30px;width:100%
}
@media only screen and (max-width: 600px) {
  .custom-filters{
        flex-direction: column;
      }
}